@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

@import url(http://allfont.ru/allfont.css?fonts=terminator-cyr-semi-expanded-bol);

body,
html {
    font-family: "Roboto", sans-serif;
}
